<footer class="position-relative" id="footer-main">
    <div class="footer pt-lg-7 footer-dark bg-dark">
        <!-- SVG shape -->
        <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class=" fill-section-secondary">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <!-- Footer -->
        <div class="container pt-4">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <!-- Theme's logo -->
                    <a href="/" v-if="${site.favicon}">
                        <img style="max-height: 50px;" alt="Image placeholder" th:src="@{${site.favicon}}" id="footer-logo">
                        <span th:text="${site.title}"></span>
                    </a>
                    <!-- Webpixels' mission -->
                    <p class="mt-4 text-sm opacity-8 pr-lg-4" th:text="${theme.config.footer.desc}">
                    </p>
                    <!-- Social -->
                </div>
                <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0" th:if="${theme.config.footer.menus}" th:each="menu : ${theme.config.footer.menus}">
                    <div th:with="m = ${menuFinder.getByName(menu.name)}">
                        <h6 class="heading mb-3" th:text="${m.spec.displayName}"></h6>
                        <ul class="list-unstyled" th:if="${m.menuItems}">
                            <li th:each="menuItem : ${m.menuItems}"><a th:href="@{${menuItem.status.href}}" th:text="${menuItem.status.displayName}"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="divider divider-fade divider-dark my-4">
            <div class="row align-items-center justify-content-md-between pb-4">
                <div class="col-md-6">
                    <div class="copyright text-sm font-weight-bold text-center text-md-left" th:text="${theme.config.footer.copyright}">
                        <!-- &copy; 2020 <a href="https://webpixels.io" class="font-weight-bold" target="_blank">Webpixels</a>. All rights reserved -->
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <ul th:if="${theme.config.footer.link}" class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                        <li class="nav-item" th:each="link : ${theme.config.footer.link}">
                            <a class="nav-link" th:href="@{${link.href}}" th:text="${link.name}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>